<!-- wp:template-part {"slug":"header","theme":"gadgethub"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">

  <!-- wp:pattern {"slug":"gadgethub/hero-banner"} /-->
  <!-- wp:pattern {"slug":"gadgethub/popular-categories"} /-->
  <!-- wp:pattern {"slug":"gadgethub/trending-products"} /-->
  <!-- wp:pattern {"slug":"gadgethub/cta"} /-->
  <!-- wp:pattern {"slug":"gadgethub/trending-banner"} /-->
  <!-- wp:pattern {"slug":"gadgethub/popular-brands"} /-->
  <!-- wp:pattern {"slug":"gadgethub/latest-blogs"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"gadgethub"} /-->